[submodule "mikumari_hamada"]
	path = mikumari_hamada
	url = https://github.com/kpro-j2/mikumari_hamada.git
[submodule "hdl/laccp"]
	path = hdl/laccp
	url = https://github.com/kpro-j2/laccp_hamada.git
[submodule "hdl/mikumari"]
	path = hdl/mikumari
	url = https://github.com/kpro-j2/mikumari_hamada.git
[submodule "SiTCP_Netlist_for_Artix_UltraScalePlus"]
	path = SiTCP_Netlist_for_Artix_UltraScalePlus
	url = https://github.com/BeeBeansTechnologies/SiTCP_Netlist_for_Artix_UltraScalePlus.git
